.leaflet-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;
}

#chart-container {
  box-sizing: border-box;
  height: 250px;
  width: 100vw;
  position: absolute;
  padding: 10px;
  bottom: 0;
  z-index: 10;
  background: #ffffff;
  margin-bottom: 0;
  transition: margin-bottom ease-out 0.2s;
  box-shadow: #c6c6c682 0px 0px 20px 12px;
}

#chart-container.out {
  margin-bottom: -250px;
  transition: margin-bottom ease-in 0.2s;
}

#chart-close {
  content: "Close";
  position: absolute;
  bottom: 30vh;
  right: 20px;
  cursor: pointer;
  display: none;
  z-index: 10;
  user-select: none;
}

#chart-container:not(:empty) ~ #chart-close {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #484848;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.info {
  padding: 0 16px 16px;
  min-width: 420px;
  position: absolute;
  z-index: 1;
  background: #ffffff;
  box-shadow: #c6c6c682 0px 0px 20px 12px;
  box-sizing: border-box;
  height: 135px;
  margin-top: 0;
  transition: margin-top ease-out 0.2s;
}

.info.out {
  margin-top: -135px;
  transition: margin-top ease-in 0.2s;
}

.info p:nth-child(odd) {
  font-weight: 600;
}

.info .grid {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 16px;
}

.info h1 {
  margin: 10px 0;
}

.info p {
  margin: 2px;
}
